$blue: #2185c5;
.blue { color: $blue; }
.bg-blue { background-color: $blue; }

$salmon: #ee775f;
.salmon { color: $salmon; }
.bg-salmon { background-color: $salmon; }

$black: #55606E;
.black { color: $black; }
.bg-black { background-color: $black; }