* {
  outline: none;
  text-decoration: none;
}

a {
  color: #2185c5;
  text-decoration: none;
  outline: none;
}

a:hover {
  color: #3e454c;
  text-decoration: none;
}

.nav {
  text-align: center;
}

.center {
  display: block;
  margin:0 auto;
  text-align: center;
}

.title h1, h2 {
  font-weight: 200;
  text-align: center;
  font-size: 3em;
  color: #2185c5;
  text-transform: uppercase;
  line-height: 1em;
}

h3 {
  font-size: 1.2em;
  line-height: 36px;
}

strong, b {
  font-weight: 600;
}

em {
  font-style: italic;
}

.attachment .site-content {
  margin: 0 auto;
    margin: .5em 0em .5em 0em;
    text-align: center;
}

.attachment p {
  text-align: center;
}

@media (min-width: 980px) {
  .anchor {
    padding-top: 95px;
    margin-top: -95px;
  }
}

/* Pages */

.intro {
  margin: 0 auto 1em; 
  font-weight:100; 
  font-size:200%; 
  line-height:1; 
  color:#6A6A6A; 
  text-align: center;
}

// New Styles

body {

  nav.navbar {
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 100;
    background-color: white;
    border-radius: 0;
    border: none;
    z-index: 8675310;
    div.navbar-header {
      button.navbar-toggle {
        margin-top: 25px;
        &:focus, &:hover {
          background-color: darken(white, 5%);
        }
      }
      a.navbar-brand {
        display: block;
        height: 80px;
        padding-top: 10px;
        padding-bottom: 10px;
        img {
          box-shadow: none;
        }
      }
    }
    div.navbar-collapse {
      background-color: white;
      ul.navbar-nav {
        li {
          a {
            display: block;
            height: 80px;
            padding: 30px 15px;
            text-transform: uppercase;
            &:hover {
              border-top: 12px solid $blue;
              padding-top: 18px;
              @include breakpoint(max-med) {
                border-top: 0px;
                padding-top: 30px;
              }
            }
          }
        }
      }
    }
  }

  section.single {
    padding-top: 100px;
    padding-bottom: 50px;

    &.blog, &.archive {
      article {
        margin-bottom: 25px;
        div.blog-content {
          height: 100%;
          margin-bottom: 45px;
          h1 {
            margin-top: 0px;
            font-weight: 200;
            font-size: 2em;
            color: #2185c5;
            text-transform: uppercase;
            line-height: 1em;
          }
          img {
            width: 100%;
            height: auto;
          }
        }
        div.blog-thumb {
          overflow: hidden;
          margin-bottom: 25px;
          span.center {
            a {
              display: block;
              img {
                width: 100%;
                height: auto;
              }
            }
            &:hover {
              opacity:0.8;
            }
          }
        }
      }
      div.navigation {
        overflow: hidden;
        width: 100%;
        padding: 25px 0px;
        a {
          display: block;
          width: 100%;
          height: 100%;
        }
        .nav-next {
          float: right;
        }
        .nav-previous {
          float: left;
        }
      }
    }

    &.portfolio {
      div.portfolio-item {
        margin-top: 25px;
        margin-bottom: 35px;
        padding-top: 25px;
        padding-bottom: 45px;
        border-bottom: 1px dotted $grey;
        &:last-child {
          border-bottom: none;
        }
        div.browser-nav {
          position: relative;
          height: 40px;
          border-top: 3px solid $grey;
          border-right: 3px solid $grey;
          border-left: 3px solid $grey;
          border-radius: 5px 5px 0px 0px;
          background-color: white;
          ul {
            position: absolute;
            display: inline;
            height: inherit;
            margin: 0;
            padding-top: 5px;
            padding-left: 10px;
            li {
              display: inline-block;
              height: 10px;
              width: 10px;
              margin-left: 2px;
              margin-right: 2px;
              background-color: $grey;
              @include border-radius(50%);
            }
          }
          span {
            position: absolute;
            width: 70%;
            top: 5px;
            left: 60px;
            padding: 3px;
            border: 2px solid $grey;
            @include border-radius(5px);
            font-size: .8em;
          }
        }
        div.browser-body {
          border: 3px solid $grey;
          border-radius: 0px 0px 5px 5px;
          background-color: white;
          a {
            display: block;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            border: 0;
            img {
              width: 100%;
              height: auto;
            }
          }
        }
        h2 {
          color: $grey;
          text-align: center;
          font-weight: 300;
          font-size: 1.5em;
        }
        p {
          color: $grey;
          text-align: center;
        }
        a {
          display: block;
          width: 50%;
          margin: 0 auto 25px;
          border: 2px solid $grey;
          color: $grey;
          &:hover {
            color: white;
            background-color: $grey;
          }
        }
      }
    }

    &.contact {
      #map {
        height:300px; 
        width:100%; 
        margin-bottom:40px; 
        position: relative; 
        box-shadow: 0 2px 6px rgba(0,0,0,0.3);
      }
      .contact-form {
        p.wordgun-message {
          margin-top: 25px;
          text-align: center;
        }
      }
      .contact-social {
        padding-top: 30px;
        ul {
          padding-left: 80px;
          list-style: none;
          @include breakpoint(max-med) {
            padding-left: 40px;
          }
          li {
            margin-top: 10px;
            margin-bottom: 10px;
            a {
              display: block;
              width: 100%;
              height: 100%;
              color: $dark;
              font-size: 2em;
              @include breakpoint(max-med) {
                font-size: 1.5em;
              }
              @include breakpoint(max-small) {
                font-size: 1.6em;
                text-align: center;
              }
              &:hover {
                color: $blue;
              }
              i {
                vertical-align: middle;
                font-size: 2em;
              }
              span {
                padding-left: 5px;
                vertical-align: middle;
              }
            }
          }
        }
      }
    }

    &.post {
      div.masthead {
        img {
          width: 100%;
          height: auto;
        }
      }
      h1.post-title {
        padding: 15px 0px 0px;
        color: $blue;
        text-align: center;
        font-weight: 300;
        font-size: 2em;
      }
      p.post-date {
        display: block;
        margin: 0 auto;
        padding-bottom: 15px;
        border-bottom: 1px dotted $grey;
        text-align: center;
      }
      article {
        margin-bottom: 25px;
        padding-bottom: 25px;
        div.post-content {
          padding-top: 25px;
          padding-bottom: 25px;
        }
        // Post Utility Classes
        img {
          max-width: 100%;
          height: auto;
        }
        .alignleft {
          display: inline;
          float: left;
        }
        .aligncenter {
          float: none;
          text-align: center;
          margin: 0 auto;
        }
        .alignright {
          display: inline;
          float: right;
        }
        .feature {
          margin-bottom: 15px;
        }
        img.alignright, .wp-caption.alignright {
          margin: .5em 0em .5em 1em;
        }
        img.alignleft, .wp-caption.alignright {
          margin: .5em 1em .5em 0em;
        }
        a img:hover {
          opacity:0.9;
        }
        video {
          width: 100% !important;
          height: auto !important;
        }
      }
      aside.sidebar {
        margin-bottom: 25px;
        h3 {
          text-align: center;
        }
        ul.post-categories{
          list-style: none;
          padding: 0;
          li {
            text-align: center;
          }
        }
        .do {
          display: block;
          width: 100%;
          height: 100%;
          img {
            display: block;
            width: 80%;
            height: auto;
            max-width: 120px;
            margin: 0 auto;
          }
        }
      }
      section.social {
        float: left;
        display: block;
        width: 100%;
        height: 100%;
        margin: 10px 0 10px 0;
        padding: 15px 0px;
        border-top: 1px dotted $grey;
        .g-plusone {
          width: 100px;
          float: left;
          display: block;
        }
        .twitter {
          float: left;
          display: block;
        }
      }
      section.comments {
        clear: both;
      }
    }

    &.attachment {
      div.section {
        padding-bottom: 25px;
        div.attachment {
          border: 5px black;
          span.center {
            img {
              width: auto;
              max-width: 100%;
              height: auto;
            }
          }
        }
      }
    }

    &.fourohfour {
      div.home-thumb {
        img {
          width: 100%;
          height: auto;
        }
        span.home-thumb-title {
          p {
            text-align: center;
          }
        }
      }
    }

  }

  footer {
    nav {
      p.copy {
        margin-left: -15px;
        text-align: left;
        @include breakpoint(max-small) {
          text-align: center;
        }
        a {
          color: #333;
          &:hover {
            color: $blue;
          }
        }
      }
      ul.social {
        display: block;
        height: 30px;
        margin-right: -15px;
        padding: 0;
        float: right;
        @include breakpoint(max-small) {
          float: none;
          margin: 0 auto;
          text-align: center;
        }
        i.fa {
          font-size: 1.8em;
        }
        li {
          display: inline;
          float: left;
          padding: 5px;
          @include breakpoint(max-small) {
            float: none;
          }
          a {
            color: #333;
            font-size: .75em;
            &:hover {
              color: $blue;
            }
          }
        }
      }

    }
  }

}
