body {

  nav.navbar {
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 100;
    background-color: white;
    border-radius: 0;
    border: none;
    div.navbar-header {
      button.navbar-toggle {
        margin-top: 25px;
        &:focus, &:hover {
          background-color: darken(white, 5%);
        }
      }
      a.navbar-brand {
        display: block;
        height: 80px;
        padding-top: 10px;
        padding-bottom: 10px;
        img {
          box-shadow: none;
        }
      }
    }
    div.navbar-collapse {
      background-color: white;
      ul.navbar-nav {
        li {
          a {
            display: block;
            height: 80px;
            padding: 30px 15px;
            text-transform: uppercase;
            &:hover {
              border-top: 12px solid $blue;
              padding-top: 18px;
              @include breakpoint(max-med) {
                border-top: 0px;
                padding-top: 30px;
              }
            }
          }
        }
      }
    }
  }

  section.single {
    padding-top: 100px;

    &.blog {
      article {
        margin-bottom: 25px;
        div.blog-content {
          height: 100%;
          margin-bottom: 45px;
          h1 {
            font-weight: 200;
            font-size: 2em;
            color: #2185c5;
            text-transform: uppercase;
            line-height: 1em;
          }
          img {
            width: 100%;
            height: auto;
          }
        }
        div.blog-thumb {
          overflow: hidden;
          margin-bottom: 25px;
          span {
            a {
              img {
                width: 100%;
                height: auto;
              }
            }
            &:hover {
              opacity:0.8;
            }
          }
        }
      }
      div.navigation {
        overflow: hidden;
        width: 100%;
        padding: 25px 0px;
        a {
          display: block;
          width: 100%;
          height: 100%;
        }
        div.btn {
          color: $blue;
          border: 1px solid $blue;
          font-size: 1.1em;
          &:hover {
            color: white;
            background-color: $blue;
          }
        }
        .nav-next {
          float: right;
        }
        .nav-previous {
          float: left;
        }
      }
    }

    &.portfolio {
      div.portfolio-item {
        margin-top: 25px;
        margin-bottom: 35px;
        padding-top: 25px;
        padding-bottom: 45px;
        border-bottom: 1px dotted $grey;
        &:last-child {
          border-bottom: none;
        }
        div.browser-nav {
          position: relative;
          height: 40px;
          border-top: 2px solid $grey;
          border-right: 2px solid $grey;
          border-left: 2px solid $grey;
          border-radius: 5px 5px 0px 0px;
          background-color: white;
          ul {
            position: absolute;
            display: inline;
            height: inherit;
            margin: 0;
            padding-top: 5px;
            padding-left: 10px;
            li {
              display: inline-block;
              height: 10px;
              width: 10px;
              margin-left: 2px;
              margin-right: 2px;
              background-color: $grey;
              @include border-radius(50%);
            }
          }
          span {
            position: absolute;
            width: 70%;
            top: 5px;
            left: 60px;
            padding: 3px;
            border: 2px solid $grey;
            @include border-radius(5px);
            font-size: .8em;
          }
        }
        div.browser-body {
          border: 3px solid $grey;
          border-radius: 0px 0px 5px 5px;
          background-color: white;
          img {
            width: 100%;
            height: auto;
          }
        }
        h2 {
          color: $grey;
          text-align: center;
          font-weight: 300;
          font-size: 1.5em;
        }
        p {
          color: $grey;
          text-align: center;
        }
        a {
          display: block;
          width: 50%;
          margin: 0 auto 25px;
          border: 2px solid $grey;
          color: $grey;
          &:hover {
            color: white;
            background-color: $grey;
          }
        }
      }
    }

    &.contact {
      div.contact-icon {
        a img {
          width: 100%;
          height: auto;
        }
      }

    }

    &.post {
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}