[submodule "public/wp-content/plugins/awesomepress-gh"]
	path = public/wp-content/plugins/awesomepress-gh
	url = git@github.com:patrickshampine/awesomepress.git
[submodule "public/wp-content/plugins/bootcodes"]
	path = public/wp-content/plugins/bootcodes
	url = git@github.com:patrickshampine/bootcodes.git
[submodule "public/wp-content/plugins/gj-prefetch"]
	path = public/wp-content/plugins/gj-prefetch
	url = git@github.com:GunnJerkens/gj-prefetch.git
[submodule "bin"]
	path = bin
	url = git@github.com:StartupAndPlay/server-scripts.git
[submodule "public/wp-content/plugins/wordgun"]
	path = public/wp-content/plugins/wordgun
	url = git@github.com:patrickshampine/wordgun.git
