# Exclude these files from the git repo

*~
*[Tt]humbs.db
*.bak
*.log
*.swp
.cvs
.DS_Store
.htaccess
.sass-cache
.svn
*.Trashes
env_local
env_staging
node_modules
readme.html
sitemap*.*
sitemap.*
sitemap.xml
sitemap.xml.gz
Thumbs.db
wp-config.php
backups/
public/dl/
public/.htaccess
public/wp-content/advanced-cache.php
public/wp-content/cache/
public/wp-content/backup/
public/wp-content/backups/
public/wp-content/backup-db/
public/wp-content/blogs.dir/
public/wp-content/cache/
public/wp-content/db.php
public/wp-content/object-cache.php
public/wp-content/plugins/acf-repeater/
public/wp-content/plugins/better-wp-security/
public/wp-content/plugins/wp-super-cache/
public/wp-content/plugins/w3-total-cache/
public/wp-content/upgrade/
public/wp-content/uploads/
public/wp-content/wp-cache-config.php
public/wp-content/w3tc-config/

# Include these files in previously blocked directories
!public/wp-content/uploads/.htaccess
